:root {
    --primary: #0B5ED7;
    --secondary: #0A2540;
    --theer: #1E3A8A;
    --for: #65A30D;
    --fiver: #A3E635;
    --six: #F6FF00;

    --white: #FFFFFF;
    --black: #000000;
    --n-theer: #F5F7FA;
    --n-for: #E5E7EB;
    --n-fiver: #6B7280;
}

.titulo {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 110%;
}

.titulo_h2 {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
}

.subtitulo {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.paragrafo {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.botao {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

/*---------------- Header ----------------*/

.main-header {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px;
    background: linear-gradient(
        90deg,
        #0185C0 0%,
        #5195AC 50%,
        #C6D301 100%
    );
}

.header-nav {
    display: flex;
    gap: 32px;
}

.header-nav a {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 150%;
}

.logo-biolab > img {
    display: block;
    height: 67px;
}

.btn-fale {
    background-color: var(--primary);
    padding: 8px 20px;
    border-radius: 10px;
}

.btn-fale > button {
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    background-color: var(--primary);
}

/* --------------- Main ---------------- */



.main-texto-apresentacao {
    width: 100%;
    height: 810px;
    padding: 40px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    background-image: url("../assets/images/Home_Biolab.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.texto-apresentacao > h1 {
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 110%;
}

.texto-apresentacao > h1 > span {
    color: var(--fiver);
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 110%;
}

.texto-p > p {
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.content-left {
    width: 600px; 
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--white);
}

.cta-form {
    display: flex;
    gap: 10px;
}

.cta-form input {
    background: transparent;
    border: 1px solid var(--white);
    border-radius: 25px;
    padding: 10px 20px;
    color: var(--white);
    flex: 1;
}

.cta-form button {
    color: var(--white);
    background-color: var(--fiver);
    border: none;
    border-radius: 20px;
    padding: 12px 24px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.terms {
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: var(--white);
}

/* ------------------ text-main2 ---------------------- */


.conteudo-sobre-nos {
    width: 100%;
    height: 1144px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: var(--n-theer);
}

.text-main2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 80px;
}

.text-main2 h1 {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 110%;
    color:  var(--primary);
}

.text-main2 p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--black);
    padding-top: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.card {
    width: 300px;
    background-color: var(--white);
    border-radius: 20px;
}

.card img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.card > a > img {
    width: 15px;
    height: 15px;
}


.card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    font-family: "Roboto", sans-serif;
    padding: 40px;
    color: var(--black);
    padding-top: 20px;
}

.card a {
    color: var(--primary);
    font-family: "Roboto", sans-serif;
    padding: 40px;
}

.secao_sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
}

.secao_sobre-nos img {
    width: 48px;
    height: 48px;
}

.dots{
      display:flex;
      justify-content: center;
      padding-top: 20px;
      gap:8px;
    }

.dot{
    width:8px;
    height:8px;
    border-radius:50%;
    background: var(--n-for);
}

.dot.active{
    background: var(--black);
}



/* ----------------------- Main-3 ------------------------- */

.main-3 {
    width: 100%;
    height: 418px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: var(--n-theer);
}

.cards-main-3 {
    padding: 50px;
    display: flex;
    align-items: center;
    background-color: var(--n-for);
    border-radius: 20px;
    gap: 20px;
}

.card-main-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-main-3 img {
    width: 80px;
    height: 80px;
   
}

.card-main-3 span {
    color: var(--theer);
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
}

.card-main-3 p {
    color: var(--theer);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.card-main-3 + .card-main-3 {
    border-left: 1px solid var(--n-fiver); 
    padding-left: 20px;
}

/* -------------- Main-4 ------------------ */


.main-4 {
    width: 100%;
    height: 802px;
    padding: 112px 80px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--n-theer);
}

.main-4-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main-4-texto h1 {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 110%;
    color: var(--fiver);
}

.main-4-texto p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--black);
}

.cards_cometarios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    gap: 48px;
}

.card-cometario {
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--white);
}

.avaliacao {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 4px;
}

.estrela {
    font-size: 20px;
    color: var(--six);
}

.cometario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--black);
}

.usuario {
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
}

.usuario img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.id-usuario {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
}

.id-usuario h2 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    color: var(--black);
}

.id-usuario p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--black);
}

.seta-esquerda img {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 50px;
    height: 50px;
}

.seta-direita img {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 50px;
    height: 50px;
}


/* -------------------- Main-5 ------------------ */


.main-5 {
    width: 100%;
    height: 333px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(
        90deg,
        var(--primary) 0%,
        #4E78B5,
        var(--fiver) 100%
    );

}

.main-4-imagem img {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 100px;
}

.main-5-texto h1 {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 110%;
    color: var(--white);
}

.main-5-texto p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    padding-top: 18px;
    color: var(--white);
}

.main-5-btn {
    padding: 32px;
    background-color: var(--theer);
    border-radius: 20px;
}

.main-5-btn button {
    color: var(--white);
}


/* ---------------- Main-5 --------------- */


.main-6 {
    width: 100%;
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 40px;
    background-color: var(--n-theer);
}

.main-6-texto {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 24px;
}

.main-6-texto h1 {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 110%;
    color: var(--secondary);
}

.main-6-texto p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--black);
}

.contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.contato img {
    width: 50px;
    height: 50px;
}

.contato h2 {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    padding-top: 24px;
    color: var(--secondary);
}

.contato p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding-top: 16px;
}

.contato a {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding-top: 20px;
    color: var(--theer);
}

/* ------------------ Footer --------------- */

footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: var(--secondary);
}

.footer-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    height: 67px;
}

.footer-navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    gap: 32px;
    color: var(--white);
}

.footer-links {
    display: flex;
    gap: 32px;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.redes-sociais img {
    margin-top: 32px;
    max-width: 50px;
    max-height: 50px;
}

.footer-termos {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    margin-top: 40px;
    border-top: 1px solid var(--white);
}

.footer-termos p {
    display: flex;
    justify-content: center;
    align-items: start;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--white);
}

.termos {
    display: flex;
    gap: 16px;
}

.termos a {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--white);
    text-decoration: underline;
    text-decoration-color: var(--white);
}






